<?xml version="1.0"?>
<settings version="1">
	<section id="plugin.video.iptv.recorder">
		<category id="display" label="30500" help="">
			<group id="1">
				<setting id="show.finished" type="boolean" label="30520" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
				<setting id="sort.channels.v2" type="integer" label="30521" help="">
					<level>0</level>
					<default>Number</default>
					<constraints>
						<options>
							<option label="Number">0</option>
							<option label="Name">1</option>
						</options>
					</constraints>
					<control type="spinner" format="string" />
				</setting>
			</group>
			<group id="2">
				<setting id="multiline" type="boolean" label="30522" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="hide.channel.name" type="boolean" label="30523" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="show.categories" type="boolean" label="30524" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
			</group>
			<group id="3">
				<setting id="refresh" type="boolean" label="30525" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
			</group>
			<group id="4">
				<setting id="scroll.now" type="boolean" label="30526" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
				<setting id="scroll.ms" type="integer" label="30527" help="">
					<level>0</level>
					<default>2000</default>
					<control type="edit" format="integer">
						<heading>30527</heading>
					</control>
				</setting>
			</group>
			<group id="5" label="30528" />
			<group id="6" label="30529">
				<setting id="view.mode" type="integer" label="30530" help="">
					<level>0</level>
					<default>0</default>
					<control type="edit" format="integer">
						<heading>30530</heading>
					</control>
				</setting>
			</group>
			<group id="7">
				<setting id="show.now.next.hide.empty" type="boolean" label="30531" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="show.now.next.all" type="boolean" label="30532" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="show.now.next.lists" type="boolean" label="30533" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="show.now.next.favourites" type="boolean" label="30534" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
			</group>
			<group id="8">
				<setting id="add.favourite.channel" type="boolean" label="30535" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
				<setting id="add.context.searches" type="boolean" label="30536" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
			</group>
			<group id="9">
				<setting id="meta" type="addon" label="30537" help="">
					<level>0</level>
					<default>plugin.video.meta</default>
					<constraints>
						<addontype>xbmc.python.pluginsource</addontype>
					</constraints>
					<control type="button" format="addon">
						<heading>30537</heading>
						<show more="true" details="true">installed</show>
					</control>
				</setting>
			</group>
		</category>
		<category id="jobs_and_rules" label="30501" help="">
			<group id="1">
				<setting id="recordings" type="path" label="30538" help="">
					<level>0</level>
					<default>special://temp</default>
					<control type="button" format="path">
						<heading>30538</heading>
					</control>
				</setting>
				<setting id="ffmpeg.pipe" type="boolean" label="30539" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
				<setting id="ffmpeg.recordings" type="string" label="30540" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="ffmpeg.pipe">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30540</heading>
					</control>
				</setting>
			</group>
			<group id="2">
				<setting id="filename.urlencode" type="boolean" label="30541" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="json" type="boolean" label="30542" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
			</group>
			<group id="3">
				<setting id="ffmpeg" type="path" label="30543" help="">
					<level>0</level>
					<default />
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="file">
						<heading>30543</heading>
					</control>
				</setting>
				<setting id="ffmpeg.last" type="path" label="30544" help="">
					<level>0</level>
					<default />
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="button" format="file">
						<heading>30544</heading>
					</control>
				</setting>
				<setting id="ffmpeg.reconnect" type="boolean" label="30545" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
				<setting id="ffmpeg.args" type="string" label="30546" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30546</heading>
					</control>
				</setting>
				<setting id="ffmpeg.ext" type="string" label="30547" help="">
					<level>0</level>
					<default>ts</default>
					<control type="edit" format="string">
						<heading>30547</heading>
					</control>
				</setting>
				<setting id="ffmpeg.ext.previous" type="string">
					<level>0</level>
					<default/>
					<visible>false</visible>
					<control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
				</setting>
			</group>
			<group id="4" label="30548">
				<setting id="post.command" type="string" label="30549" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30549</heading>
					</control>
				</setting>
			</group>
			<group id="5">
				<setting id="minutes.before" type="integer" label="30550" help="">
					<level>0</level>
					<default>1</default>
					<control type="edit" format="integer">
						<heading>30550</heading>
					</control>
				</setting>
				<setting id="minutes.after" type="integer" label="30551" help="">
					<level>0</level>
					<default>1</default>
					<control type="edit" format="integer">
						<heading>30551</heading>
					</control>
				</setting>
			</group>
			<group id="6">
				<setting id="silent" type="boolean" label="30552" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
			</group>
		</category>
		<category id="data" label="30502" help="">
			<group id="1">
				<setting id="external.xmltv.1" type="integer" label="30553" help="">
					<level>0</level>
					<default>IPTV Simple Client</default>
					<constraints>
						<options>
							<option label="IPTV Simple Client">0</option>
							<option label="File">1</option>
							<option label="Url">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string" />
				</setting>
				<setting id="external.xmltv.file.1" type="path" label="30554" help="">
					<level>0</level>
					<default />
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="external.xmltv.1">1</condition>
						</dependency>
					</dependencies>
					<control type="button" format="file">
						<heading>30554</heading>
					</control>
				</setting>
				<setting id="external.xmltv.url.1" type="string" label="30555" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="external.xmltv.1">2</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30555</heading>
					</control>
				</setting>
			</group>
			<group id="2">
				<setting id="external.m3u.1" type="integer" label="30556" help="">
					<level>0</level>
					<default>IPTV Simple Client</default>
					<constraints>
						<options>
							<option label="IPTV Simple Client">0</option>
							<option label="File">1</option>
							<option label="Url">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string" />
				</setting>
				<setting id="external.m3u.file.1" type="path" label="30557" help="">
					<level>0</level>
					<default />
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="external.m3u.1">1</condition>
						</dependency>
					</dependencies>
					<control type="button" format="file">
						<heading>30557</heading>
					</control>
				</setting>
				<setting id="external.m3u.url.1" type="string" label="30558" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="external.m3u.1">2</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30558</heading>
					</control>
				</setting>
				<setting id="external.m3u.shift.1" type="number" label="30559" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<minimum>-12</minimum>
						<step>.5</step>
						<maximum>12</maximum>
					</constraints>
					<control type="slider" format="number">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="3">
				<setting id="external.xmltv.2" type="integer" label="30560" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="None">0</option>
							<option label="File">1</option>
							<option label="Url">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string" />
				</setting>
				<setting id="external.xmltv.file.2" type="path" label="30561" help="">
					<level>0</level>
					<default />
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="external.xmltv.2">1</condition>
						</dependency>
					</dependencies>
					<control type="button" format="file">
						<heading>30561</heading>
					</control>
				</setting>
				<setting id="external.xmltv.url.2" type="string" label="30562" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="external.xmltv.2">2</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30562</heading>
					</control>
				</setting>
			</group>
			<group id="4">
				<setting id="external.m3u.2" type="integer" label="30563" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="None">0</option>
							<option label="File">1</option>
							<option label="Url">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string" />
				</setting>
				<setting id="external.m3u.file.2" type="path" label="30564" help="">
					<level>0</level>
					<default />
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="external.m3u.2">1</condition>
						</dependency>
					</dependencies>
					<control type="button" format="file">
						<heading>30564</heading>
					</control>
				</setting>
				<setting id="external.m3u.url.2" type="string" label="30565" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="external.m3u.2">2</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30565</heading>
					</control>
				</setting>
				<setting id="external.m3u.shift.2" type="number" label="30566" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<minimum>-12</minimum>
						<step>.5</step>
						<maximum>12</maximum>
					</constraints>
					<control type="slider" format="number">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="5">
				<setting id="m3u.regex.search" type="string" label="30567" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30567</heading>
					</control>
				</setting>
				<setting id="m3u.regex.replace" type="string" label="30568" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30568</heading>
					</control>
				</setting>
			</group>
			<group id="6">
				<setting id="xmltv.title.regex.search" type="string" label="30569" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30569</heading>
					</control>
				</setting>
				<setting id="xmltv.title.regex.replace" type="string" label="30570" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30570</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="service" label="30503" help="">
			<group id="1">
				<setting id="service.delay.seconds" type="integer" label="30571" help="">
					<level>0</level>
					<default>20</default>
					<control type="edit" format="integer">
						<heading>30571</heading>
					</control>
				</setting>
				<setting id="service" type="boolean" label="30572" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle" />
				</setting>
				<setting id="service.startup" type="boolean" label="30573" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="service">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle" />
				</setting>
				<setting id="service.type2" type="integer" label="30574" help="">
					<level>0</level>
					<default>Period</default>
					<constraints>
						<options>
							<option label="Period">0</option>
							<option label="Time">1</option>
							<option label="None">2</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="service">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string" />
				</setting>
				<setting id="service.interval" type="integer" label="30575" help="">
					<level>0</level>
					<default>6</default>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="service">true</condition>
								<condition operator="is" setting="service.type2">0</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>30575</heading>
					</control>
				</setting>
				<setting id="service.time" type="time" label="30576" help="">
					<level>0</level>
					<default>03:33</default>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="service">true</condition>
								<condition operator="is" setting="service.type2">1</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="time">
						<heading>30576</heading>
					</control>
				</setting>
				<setting id="last.update" type="string">
					<level>0</level>
					<default/>
					<visible>false</visible>
					<control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
				</setting>
			</group>
		</category>
		<category id="scheduler" label="30504" help="">
			<group id="1" label="30577">
				<setting id="task.cronxbmc" type="boolean" label="30587" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<or>
								<and>
									<condition on="property" name="infobool">System.platform.windows</condition>
									<condition setting="task.scheduler">false</condition>
								</and>
								<and>
									<condition on="property" name="infobool">System.Platform.Linux</condition>
									<condition on="property" name="infobool" operator="!is">System.Platform.Android</condition>
									<condition setting="task.cron">false</condition>
								</and>
							</or>
						</dependency>
						<dependency type="visible" on="property" name="infobool">
							System.HasAddon(service.cronxbmc)</dependency>
					</dependencies>
					<control type="toggle" />
				</setting>

				<setting id="task.scheduler" type="boolean" label="30578" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible" on="property" name="infobool">System.platform.windows</dependency>

						<dependency type="enable">
							<or>
								<condition setting="task.cronxbmc" operator="!is">true</condition>
								<condition on="property" name="infobool" operator="!is">System.HasAddon(service.cronxbmc)</condition>
							</or>
						</dependency>
					</dependencies>
					<control type="toggle" />
				</setting>
				<setting id="python" type="path" label="30579" help="">
					<level>0</level>
					<default>pythonw.exe</default>
					<dependencies>
						<dependency type="visible" on="property" name="infobool">
							System.Platform.Windows</dependency>
						<dependency type="enable">
							<or>
								<condition setting="task.cronxbmc" operator="!is">true</condition>
								<condition on="property" name="infobool" operator="!is">System.HasAddon(service.cronxbmc)</condition>
							</or>
						</dependency>
					</dependencies>
					<constraints>
						<writable>false</writable>
					</constraints>
					<control type="button" format="file">
						<heading>30579</heading>
					</control>
				</setting>
				<setting id="task.cron" type="boolean" label="30586" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition on="property" name="infobool">System.Platform.Linux</condition>
								<condition on="property" name="infobool" operator="!is">System.Platform.Android</condition>
							</and>
						</dependency>
						<dependency type="enable">
							<or>
								<condition setting="task.cronxbmc" operator="!is">true</condition>
								<condition on="property" name="infobool" operator="!is">System.HasAddon(service.cronxbmc)</condition>
							</or>
						</dependency>
					</dependencies>
					<control type="toggle" />
				</setting>
			</group>
		</category>
		<category id="playback" label="30505" help="">
			<group id="1">
				<setting id="external.player.watch" type="boolean" label="30580" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="external.player" type="path" label="30581" help="">
					<level>0</level>
					<default />
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="file">
						<heading>30581</heading>
					</control>
				</setting>
				<setting id="external.player.args" type="string" label="30582" help="">
					<level>0</level>
					<default>-fs</default>
					<control type="edit" format="string">
						<heading>30582</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="debug" label="30506" help="">
			<group id="1">
				<setting id="debug" type="boolean" label="30583" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
			</group>
			<group id="2" label="30584">
				<setting id="debug.ffmpeg" type="boolean" label="30585" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
			</group>
			<setting id="version" type="string">
					<level>0</level>
					<default/>
					<visible>false</visible>
					<control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
				</setting>
			
		</category>
	</section>
</settings>